@model IEnumerable<Bookflix.Models.Perfil>

@{
    ViewData["Title"] = "AdministrarPerfil";
}

<table class="table">
    <thead>
         <tr>
            @*<th> *@
                <h1 style="color: #E50914;">Administrar Perfiles</h1>
            @* </th> *@
            @* <th></th>*@
        </tr> 
    </thead>
    <tbody>
    @if(User.IsInRole("Normal"))
    {
        @if (Model.Count() == 3)
        {
            <h6 style="color: #E50914;">Elimine un perfil para continuar</h6>
        }
        else if(Model.Count() == 4)
        {
            <h6 style="color: #E50914;">Elimine dos perfiles para continuar</h6>
        }
    }
    
@foreach (var item in Model) {
        <tr>
            <td>
                <a style="color: #E50914;">@Html.DisplayFor(modelItem => item.Nombre)</a>
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a> 
            </td>
        </tr>
}
    </tbody>
</table>

@if(ViewBag.Valido){
    <a href="/Perfil/Create" class="btn btn-primary " tabindex="-1" role="button" >Crear Perfil</a>
}else{
    <a href="/Perfil/Create" class="btn btn-primary  disabled" tabindex="-1" role="button" aria-disabled="true">Crear Perfil</a>
}
<a href="/Perfil/Index" class="btn btn-primary" tabindex="-1" role="button">Volver</a>