@model Bookflix.Models.Perfil

@{
    ViewData["Title"] = "Editar";
}

<h1 style="color: #E50914;">@Model.Nombre</h1>

<h4>Libros favoritos</h4>
<hr />

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}