@using Microsoft.AspNetCore.Identity
@using System.Linq
@using Bookflix.Data
@inject SignInManager<BookflixUser> SignInManager
@inject UserManager<BookflixUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @* <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Cerrar Sesion</button>
        </form>
    </li> *@
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Perfil/Index">Perfiles</a>
            <a class="dropdown-item" href="/Perfil/AdministrarPerfil">Administrar Perfiles</a>
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Configuracion de cuenta</a>
        <div class="dropdown-divider"></div>
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Cerrar Sesion</button>
            </form>
        </div>
    </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion</a>
    </li>
}
</ul>
