@model Perfil

@{
    ViewData["Title"] = "Historial";
}

<h1 class="text-center" style="color: red;">Historial</h1>

<hr>
@foreach (var item in Model.Perfil_Lee_Libros) {
    <div class="card text-center bg-dark m-3" style="width: 179px; height: 400px; float: left;">
        <img src="~/Images/@item.Libro.Portada" class="card-img-top" width="179px" height="282">
        <div class="card-body" style="color: grey;" >
            <h5 class="card-title" style="color: white; font-size: medium;">@Html.DisplayFor(modelItem => item.Libro.Titulo)</h5>
            @* <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p> *@
            <a class="btn btn-danger btn-sm" asp-action="Details" asp-route-id="@item.Libro.Id">Abrir Libro</a>            
        </div>
    </div>
}

@if(Model.Perfil_Lee_Libros.Count() == 0){
    <div class="alert alert-danger" role="alert">
        ยก@Model.Nombre no has leido ningun libro!
    </div>
}else if(Model.Perfil_Lee_Libros.Count() > 5){
    <button class="ir-arriba btn btn-dark btn-sm btn-block" type="button">Volver arriba</button>
}


