@model Bookflix.Models.Capitulo

@{
    ViewData["Title"] = "Agregando capitulo";
}

<h1 style="color: red;">Creando</h1>

<h4 style="color: #F5F5F1;">Capitulos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
              @*<label asp-for="LibroId" class="control-label" style="color: #F5F5F1;"></label>
                <a asp-for="LibroId" class="form-control">@ViewData["LibroId"]</a>*@
                <input type="hidden" asp-for="LibroId" value="@ViewData["LibroId"]"/>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label" style="color: #F5F5F1;"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCapitulo" class="control-label" style="color: #F5F5F1;"></label>
                <input asp-for="NumeroCapitulo" class="form-control" />
                <span asp-validation-for="NumeroCapitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdf" class="control-label" style="color: #F5F5F1;"></label>
                <input asp-for="pdf" accept="application/pdf" class="form-control" />
                <span asp-validation-for="pdf" class="text-danger" style="color: #F5F5F1;"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeVencimiento" class="control-label" style="color: #F5F5F1;"></label>
                <input type="date"  asp-for="FechaDeVencimiento" class="form-control" />
                <span asp-validation-for="FechaDeVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar otro" class="btn btn-primary" />
                @* <input type="submit" value="Finalizar" asp-action="Finalizado" class="btn btn-danger" title="Presione Finalizar si el libro ya esta completo"/> *@
                <a class="btn btn-danger" role="button" asp-controller="Capitulo" asp-action="LibroCompleto" asp-route-id="@ViewData["LibroId"]" title="Presione Finalizar si el libro ya esta completo">Finalizar</a>
            </div>
        </form>
        <div>
            <a class="btn btn-primary" role="button" asp-controller="Libro" asp-action="Index">Continuar luego</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}