@model Bookflix.Models.Editorial

@{
    ViewData["Title"] = "Crear Editorial";
}

<h1 style="color: #E50914;">Crear Editorial</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label" style="color: #F5F5F1;"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label" style="color: #F5F5F1;"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                @if(ViewBag.Retornar == "ConCapitulos")
                {
                    <a class="btn btn-primary" role="button" asp-controller="Libro" asp-action="CreateConCapitulos" >Cancelar</a>
                }else{
                    <a class="btn btn-primary" role="button" asp-controller="Libro" asp-action="Create" >Cancelar</a>
                }
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
