@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 style="color: #F5F5F1;">Configura tu cuenta</h1>

<div>
    <h4 style="color: #F5F5F1;">Cambia las configuraciones de tu cuenta</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
