@{
    ViewData["Title"] = "Asuntos Legales";
}
<h1 style="color:#F5F5F1">@ViewData["Title"]</h1>

<p style="color:#F5F5F1">Aqui se mostraran las políticas y condiciones de uso de bookflix.</p>
