@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Correo de recuperación enviado";
}

<h1 style="color:#F5F5F1">@ViewData["Title"]</h1>
<p style="color:#F5F5F1">
    Por favor revise su correo electrónico para resetear su contraseña.
</p>

