@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<h1 style="color: #F5F5F1;">@ViewData["Title"]</h1>
<div class="row">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="col-md-4"></div>
            <h4 style="color: #F5F5F1;">Crea una nueva cuenta.</h4>
            <hr style="border-color: darkgrey;"/>
            <div class="col">
                <div asp-validation-summary="All" class="text-danger"></div>
                <h6 style="color: #E50914;">Datos de la cuenta</h6>
                <div class="btn-group-toggle" data-toggle="buttons">
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email" style="color: #F5F5F1;"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" style="color: #F5F5F1;"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" style="color: #F5F5F1;"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-md-offset-2"></div>
            </div>
            <hr />
            <div class="col">
                <h6 style="color: #E50914;">Datos personales</h6> 
                <div class="form-group">
                    <label asp-for="Input.Nombre" style="color: #F5F5F1;"></label>
                    <input asp-for="Input.Nombre" class="form-control" />
                    <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Apellido" style="color: #F5F5F1;"></label>
                    <input asp-for="Input.Apellido" class="form-control" />
                    <span asp-validation-for="Input.Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Dni" style="color: #F5F5F1;"></label>
                    <input asp-for="Input.Dni" class="form-control" />
                    <span asp-validation-for="Input.Dni" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FechaDeNacimiento" style="color: #F5F5F1;"></label>
                    <input asp-for="Input.FechaDeNacimiento" class="form-control" />
                    <span asp-validation-for="Input.FechaDeNacimiento" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-md-offset-2"></div>
            </div>
            <hr style="border-color: darkgrey;"/>
            <h6 style="color: #E50914;">Datos de la tarjeta</h6>
            <div class="form-group">
                <input type="radio" asp-for="Input.Tipo" value="Credito" checked><label style="color:#F5F5F1">Crédito</label>
                <span asp-validation-for="Input.Tipo" class="text-danger"></span>
                <br>
                <input type="radio" asp-for="Input.Tipo" value="Debito"><label style="color:#F5F5F1">Débito</label>
                <span asp-validation-for="Input.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Numero" style="color: #F5F5F1;"></label>
                <input asp-for="Input.Numero" class="form-control" />
                <span asp-validation-for="Input.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Clave" style="color: #F5F5F1;"></label>
                <input asp-for="Input.Clave" class="form-control" />
                <span asp-validation-for="Input.Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Titular" style="color: #F5F5F1;"></label>
                <input asp-for="Input.Titular" class="form-control" />
                <span asp-validation-for="Input.Titular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FechaDeVencimiento" style="color: #F5F5F1;"></label>
                <input type="month" asp-for="Input.FechaDeVencimiento" class="form-control" />
                <span asp-validation-for="Input.FechaDeVencimiento" class="text-danger"></span>
            </div>
            <div class="col-md-4 col-md-offset-2"></div> 
            <hr style="border-color: darkgrey;"/>
            <h6 style="color: #E50914;">Seleccione una categoría</h6> 
            <div class="form-group">
                <input style="color:#F5F5F1" type="radio" asp-for="Input.Categoria" value="Normal" checked><label style="color:#F5F5F1">Normal</label>
                <span asp-validation-for="Input.Categoria" class="text-danger"></span>
                <br>
                <input type="radio" asp-for="Input.Categoria" value="Premium"><label style="color:#F5F5F1">Premium</label>
                <span asp-validation-for="Input.Categoria" class="text-danger"></span>
                <input style="color:#F5F5F1" type="radio" asp-for="Input.Categoria" value="Administrador"> Administrador
                <span asp-validation-for="Input.Categoria" class="text-danger"></span> ESTO IRIA PARA CREAR EL ADMIN
            </div>
            <button type="submit" class="btn btn-danger" style="color: #F5F5F1;">Registrarse</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
