@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Contraseña reseteada exitosamente";
}

<h1 style="color: #F5F5F1;">@ViewData["Title"]</h1>
<p style="color: #F5F5F1;">
    Su contraseña ha sido reseteada. Haga <a asp-page="./Login">click aquí</a> para iniciar sesión.
</p>
