@model IEnumerable<Bookflix.Models.Reportes>

@{
    ViewData["Title"] = "Reportes";
}

<h1 style="color: white;">Tabla de Comentarios Reportados</h1>

<table class="table">
    <thead>
        <tr>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Motivo)
            </td >
            <td>
                <a class="btn btn-danger" role="button" asp-action="Details" asp-route-id="@item.Id">Ver más</a>
            </td>
        </tr>
}
    </tbody>
</table>
